.container {
  width: 80%;
  margin: auto;
  padding: 0 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  margin-top: 15px;
  > div {
    &:nth-child(even) {
      margin-left: 15px;
    }
  }
}

.display {
  width: 300px;
  height: 300px;
  border: 2px solid #5e5e5e;
  border-radius: 4px;
  padding: 15px;
  background-color: #efefef;

  canvas {
    user-select: none;
    cursor: pointer;
  }
}

.modal {
  z-index: 110;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
  max-height: 100%;
  &.closed {
    display: none;
  }
  &_input {
    display: flex;
    flex-direction: column;
    & > label {
      margin-top: 15px;
    }
  }
}

.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  background-color: rgba($color: #000000, $alpha: 0.5);
  &.closed {
    display: none;
  }
}

input {
  border: 3px solid lightgray;
  padding: 15px;
  background: rgba(255,255,255,0.5);
  margin: 0 0 10px 15px;
}

.table {
  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    td,
    th {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    tr:nth-child(even) {
      background-color: #dddddd;
    }
  }

  &_row {
    &.selected {
      background-color: green !important;
    }
  }

  &_control {
    td {
      display: flex;
      justify-content: space-around;
    }
  }
}

.params {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  margin: auto;
  div {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    &:not(:first-child){
      margin-left: 10px;
    }
  }
}
